@import "./css/root.css";

.feature-body1 a {
  text-decoration: none;
}

.feature-body1{
  font-family: var(--font-family);
  margin-bottom: 3%;
}

.feature-body1 .online-store{
  max-width: 1143.99px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 40px;
}

.feature-body1 .gaming-systems{
  max-width: 1143.99px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 40px;
}


.online-store-image{
  width: 100%;
  height: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1143.99px;
}

.gaming-systems-image{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1143.99px;
}

.under-image-online-store{
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-top: 40px;
}

.descriptions-online-store{
  color: var(--font-color);
  font-size: 21px;
  width: 85%;
}

.descriptions-gaming-system {
  color: var(--font-color);
  font-size: 21px;
}

.feature-body1 .titles{
  text-align: left;
  color: var(--font-color);
  width: 78%;
  margin-bottom: 2%;
  font-size: 28px;
  padding-left: 20px;
}

hr {
  border: none;
  height: 0.1px;
  background-color: rgb(158, 153, 153);
  display: block; /* Ensure that the hr element is a block-level element */
  clear: both;
}

.format-button-start-shopping {
  width: 171.34px;
  height: 47.6px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-weight: 700;
  border-radius: 5px;
  border-color: var(--secondary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

.format-button-explore-now {
  width: 95%;
  height: 47.6px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-weight: 700;
  border-radius: 5px;
  border-color: var(--secondary-color);
  align-items: center;
  font-size: 18px;
}

.format-last-button{
  width: 100%;
  height: 100%;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-weight: 700;
  border-radius: 5px;
  border-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-button {
  width: 20px;
  height: 17.89px;
  margin-top: 3px;
}

.logo-block {
  height: 28px;
  width: 25px;
  margin-left: 13px;
  margin-top: 9px;
}

.text-block {
  height: 95%;
  width: 90%;
  font-size: 18px;
  color: var(--primary-color);
  text-align: left;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 8px;
}

.under-image-gaming-systems {
  width: 78%;
  display: flex;
  margin-top: 40px;
  gap: 1.1rem;
}

.big-card {
  display: block;
}

.big-cards-grid {
  display: inline-flex;
  gap: 2rem;
}

.small-cards-grid {
  display: inline-flex;
  gap: 32px;
}

.small-card-image {
  border-radius: 5px;
  width: 100%;
}

.big-card-image {
  width: 100%;
  border-radius: 5px;
}

.justify {
  text-align: justify;
  font-weight: lighter;
  color: var(--font-color);
  font-size: 16px;
  height: 50px;
}

.bolder {
  text-align: justify;
  color: var(--font-color);
  height: 70px;
  font-size: 18px;
}

.adjust-read-more {
  text-decoration: underline;
  color: var(--secondary-color);
  text-align: left;
  font-size: larger;
  margin-bottom: 8%;
  margin-top: 2%;
  font-size: 16px;
}

.adjust-date {
  font-weight: 400;
  color: var(--font-color);
  text-align: left;
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 16px;
}

.adjust-small-date {
  font-weight: 400;
  color: var(--font-color);
  text-align: left;
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 2%;
  margin-bottom: 2%;
}

.news{
  max-width: 1143.99px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 18px;
}

.adjust-small-read-more {
  text-decoration: underline;
  color: var(--secondary-color);
  text-align: left;
  font-size: larger;
  margin-bottom: 6%;
  margin-top: 2%;
  font-size: 16px;
}

.see-all-news-button {
  width: 252.19px;
  height: 48.19px;
  margin-top: 20px;
}

.small-bolder {
  text-align: justify;
  color: var(--font-color);
  height: 55px;
  font-size: 16px;
}

.media-query-grid1{
  display: flex;
  gap: 32px;
}

.media-query-grid2{
  display: flex;
  gap: 32px;
}

.format-button:hover > .text-block {
  font-size: 15px;
}

.button-gabriel {
  width: 132px;
  height: 48px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-gabriel-ultimo {
  width: fit-content;
  height: 48px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-gabriel-ultimo:hover {
  transition: all .7s;
  height: 54px;
}

.button-gabriel:hover {
  animation-name: buttonBouncing;
  animation-duration: .7s;
  animation-timing-function: ease;
}

.format-last-button:hover {
  background-color: var(--buttonhover-color);
  font-size: 12px;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1, 1.1);
}

.big-card:hover > .big-card-image {
  filter: brightness(0.5);
  transition: all 0.2s ease-in-out;
}

.big-card:hover > .bolder {
  color: var(--secondary-color);
  transition: all 0.2s ease-in-out;
}

.big-card:hover > .adjust-read-more {
  color: var(--buttonhover-color);
  transition: all 0.2s ease-in-out;
}

.small-card:hover > .small-card-image {
  filter: brightness(0.5);
  transition: all 0.2s ease-in-out;
}

.small-card:hover > .small-bolder {
  color: var(--secondary-color);
  transition: all 0.2s ease-in-out;
}

.small-card:hover > .adjust-small-read-more {
  color: var(--buttonhover-color);
  transition: all 0.2s ease-in-out;
}

@media (max-width: 375px){

  .media-query-grid1{
    display: block;
    padding-left: 50px;
  }

  .media-query-grid2{
    display: block;
    padding-right: 50px;
  
  }

  .small-card-image{
    width: 159.2px;
    height: 89.55px;
  }

  .feature-body1 .titles{
  font-size: 21px;
  width: 370px;
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.online-store-image{
  margin-left: 15px;
  width: 735.2px;
  height: 342.6px;
}

.gaming-systems-image{
  margin-left: 15px;
  width: 735.2px;
  height: 244.81px;
}

.under-image-online-store{
  margin-left: 15px;
}

.under-image-gaming-systems{
  display: block;
  width: 320px;
}

.descriptions-online-store{
  font-size: 18px;
  margin:0;
  width: 735px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.descriptions-gaming-system{
  font-size: 18px;
  margin:0;
  height: 50px;
  margin-top: 30px;
}

.format-button-start-shopping{
  height: 47.6px;
  width: 342px;
  margin-left: 0;
  border-radius: 2px;
  font-size: 18px;
}

.format-button-explore-now{
  height: 47.6px;
  width: 734.8px;
  margin-left: 0;
  border-radius: 2px;
  font-size: 18px;
}

.big-cards-grid{
  display: block;
  margin-left: 15px;
}

.big-card-image{
  width: 735.2px;
  height: 413.55px;
  border-radius: 2px;
}

.adjust-date{
  font-size: 16px;
}

.bolder{
  font-size: 18px;
  height: 45px;
  width: 736px;
  margin-bottom: 25px;
}

.justify{
  height: 45px;
  width: 736px;
  font-size: 16px;
}

.adjust-read-more{
  font-size: 14px;
  margin-bottom: 17px;
}

.see-all-news-button{
  margin-left: 15px;
  margin-top: -15px;
  height: 60px;
}

.format-last-button{
  border-radius: 2px;
  width: 734.8px;
  height: 47.6px;
}

.text-block{
  font-size: 18px;
  margin-bottom: -2px;
  margin-left: 0;
}

.logo-block{
  margin-left: 270px;
  margin-right: 15px;
}

.logo-button{
  width: 20px;
  height: 17.89px;
  margin-bottom: 0px;
}

}


@media (max-width: 768px){

  .media-query-grid1{
    display: block;
    margin-left: 14px;
  }

  .media-query-grid2{
    display: block;
    margin-bottom: 40px;
    margin-right: -18px;
  }

  .feature-body1 .titles{
  font-size: 28px;
  width: 320px;
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.online-store-image{
  margin-left: 15px;
  width: 735.2px;
  height: 342.6px;
}

.gaming-systems-image{
  margin-left: 15px;
  width: 735.2px;
  height: 244.81px;
}

.under-image-online-store{
  display: block;
  margin-left: 15px;
  width: 736px;
}

.under-image-gaming-systems{
  display: block;
  margin-left: 15px;
  width: 100%;
}

.descriptions-online-store{
  font-size: 18px;
  margin:0;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.online-store-image {
  width: 97%;
  height: fit-content;
}

.descriptions-gaming-system{
  font-size: 18px;
  margin:0;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.format-button-start-shopping{
  height: 47.6px;
  width: 100%;
  margin-left: 0;
  border-radius: 2px;
  font-size: 18px;
}

.format-button-explore-now{
  height: 47.6px;

  margin-left: 0;
  border-radius: 2px;
  font-size: 18px;
}

.big-cards-grid{
  display: block;
  margin-left: 15px;
}

.big-card-image{
  width: 735.2px;
  height: 413.55px;
  border-radius: 2px;
}

.adjust-date{
  font-size: 16px;
}

.bolder{
  font-size: 18px;
  height: 45px;
  width: 736px;
  margin-bottom: 25px;
}

.justify{
  height: 45px;
  width: 736px;
  font-size: 16px;
}

.adjust-read-more{
  font-size: 16px;
  margin-bottom: 17px;
}

.see-all-news-button{
  margin-left: 15px;
  margin-top: -15px;
  height: 60px;
}

.format-last-button{
  border-radius: 2px;
  width: 734.8px;
  height: 47.6px;
}

.text-block{
  font-size: 18px;
  margin-bottom: -2px;
  margin-left: -120px;
}

.logo-button{
  width: 20px;
  height: 17.89px;
  margin-bottom: 0px;
  margin-left: -270px;
}

.button-gabriel-ultimo {
  width: 95%;
  height: 48px;
  justify-content: center;
  align-items: center;
}

}


@media (max-width: 1024px){

  .gaming-systems {
    width: 100%;
  }

  .under-image-online-store{
    flex-direction: column;
    align-items: center;
  }

  .descriptions-online-store{
    width: 100%;
    text-align: center;
  }

  .format-button-start-shopping{
    width: 100%;
  }

  .under-image-gaming-systems{
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .descriptions-gaming-system{
    width: 100%;
  }

  .format-button-explore-now{
    width: 1025px;
  }

  .see-all-news-button{
    width: 100%;
  }

  .logo-block{
    margin-left: 390px;
  }

  .button-gabriel {
    width: 95%;
  }
  .button-gabriel:hover {
    animation-name: query-1-button;
    animation-duration: .7s;
    animation-timing-function: ease-in;
  }

  .button-gabriel-ultimo {
    width: 95%;
    height: 48px;
    justify-content: center;
    align-items: center;
  }
}