@import "./css/root.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.feature-body1 a{
    text-decoration: none;
}

.feature-body1{
    font-family: var(--font-family);
    margin-bottom: 3%;
}

.online-store-image{
    width: 78%;
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gaming-systems-image{
    width: 78%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.under-image-online-store{
    width: 80%;
    display: flex;

}

.descriptions-online-store{
    color: var(--font-color);
    margin-left: 13.6%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.descriptions-gaming-system{
    color: var(--font-color);
    margin-left: 14%;
    margin-top: 3%;

}

.titles{
    text-align: left;
    color: var(--font-color);
    width: 78%;
    margin-left: 11%;
    margin-bottom: 2%;
    margin-top: 3%;
}

.format-button-start-shopping{
    width: 13%;
    height: 15%;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-weight: 700;
    border-radius: 5px;
    border-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
    font-size: 15px;
}

.format-button-explore-now{
    width: 12%;
    height: 40px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-weight: 700;
    border-radius: 5px;
    border-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    margin-top: 3%;
    font-size: 15px;
}

.format-last-button{
    width: 20%;
    height: 15%;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-weight: 700;
    border-radius: 5px;
    border-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-button{
    width: 35px;
    height: 25px;
    margin-top: 3%;
}

.logo-block{
    height: 85%;
    width: 14%;
    margin-right: 3%;
}

.text-block{
    height: 44%;
    width: 67%;
    font-size: 17px;
    margin-left: 0;
    color:var(--primary-color);
}

.under-image-gaming-systems{
    width: 78%;
    display: flex;
}

.big-card{
    display: block;
}

.big-cards-grid{
    display: inline-flex;
    gap: 28px;
    margin-left: 11%;
    margin-right: 11%;
    padding-left: 0px;
    padding-right: 0px;  
}

.small-cards-grid{
    display: inline-flex;
    gap: 28px;
    margin-left: 11%;
    margin-right: 11%;
    padding-right: 0px;
}

.small-card-image{
    border-radius: 5px;
    width: 100%;
}

.big-card-image{
    width:100%;
    border-radius: 5px;
}

.justify {
    text-align: justify;
    font-weight: lighter;
    color: var(--font-color);
}

.bolder{
    text-align: justify;
    color: var(--font-color);
    padding-bottom: 1%;
}


.adjust-read-more{
    text-decoration: underline;
    color: var(--secondary-color);
    text-align: left;
    font-size: larger;
    margin-bottom: 4%;
    margin-top: 2%;
}

.adjust-date{
    font-weight: 400;
    color: var(--font-color);
    text-align: left;
    font-size: 17px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
}

.adjust-small-date{
    font-weight: 400;
    color: var(--font-color);
    text-align: left;
    font-size: 17px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
}

.adjust-small-read-more{
    text-decoration: underline;
    color: var(--secondary-color);
    text-align: left;
    font-size: larger;
    margin-bottom: 6%;
    margin-top: 2%;
}

.see-all-news-button{
    margin-left: 11%;
}

.small-bolder{
    text-align: justify;
    color: var(--font-color);
}

.format-button:hover > .text-block{
    font-size: 15px;
}

.all-button:hover{
    background-color: var(--buttonhover-color);
    transition: all 0.2s ease-in-out;
    transform: scale(1.1,1.1);
    font-size: 12px;
}

.format-last-button:hover{
    background-color: var(--buttonhover-color);
    font-size: 12px;
    transition: all 0.2s ease-in-out;
    transform: scale(1.1,1.1);
}

.big-card:hover > .big-card-image{
    filter: brightness(0.5);
    transition: all 0.2s ease-in-out;
}

.big-card:hover > .bolder{
    color: var(--secondary-color);
    transition: all 0.2s ease-in-out;
}

.big-card:hover > .adjust-read-more{
    color: var(--buttonhover-color);
    transition: all 0.2s ease-in-out;
}

.small-card:hover > .small-card-image{
    filter: brightness(0.5);
    transition: all 0.2s ease-in-out;
}

.small-card:hover > .small-bolder {
    color: var(--secondary-color);
    transition: all 0.2s ease-in-out;
}

.small-card:hover > .adjust-small-read-more{
    color: var(--buttonhover-color);
    transition: all 0.2s ease-in-out;
}




