@import "./css/root.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.feature-body1 a {
  text-decoration: none;
}

.feature-body1{
  font-family: var(--font-family);
  margin-bottom: 3%;
}

.online-store-image{
  width: 75%;
  height: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gaming-systems-image{
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
    
}

.under-image-online-store{
  width: 100%;
  display: flex;
}

.descriptions-online-store{
  color: var(--font-color);
  margin-left: 12.3%;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 21px;
  width: 65%;
}

.descriptions-gaming-system {
  color: var(--font-color);
  margin-left: 15.8%;
  margin-top: 40px;
  font-size: 21px;
  padding-top: 7px;
  margin-right: 17px;
}

.feature-body1 .titles{
  text-align: left;
  color: var(--font-color);
  width: 78%;
  margin-left: 12.3%;
  margin-bottom: 2%;
  margin-top: 3%;
  font-size: 28px;
}

hr {
  border: none;
  height: 0.1px;
  background-color: rgb(158, 153, 153);
  margin: 20px 0;
  display: block; /* Ensure that the hr element is a block-level element */
  clear: both;
}

.format-button-start-shopping {
  width: 171.34px;
  height: 47.6px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-weight: 700;
  border-radius: 5px;
  border-color: var(--secondary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
  font-size: 18px;
  margin-left: -15px;
}

.format-button-explore-now {
  width: 153.23px;
  height: 47.6px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-weight: 700;
  border-radius: 5px;
  border-color: var(--secondary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  margin-top: 3%;
  font-size: 18px;
}

.format-last-button{
  width: 20%;
  height: 15%;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-weight: 700;
  border-radius: 5px;
  border-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-button {
  width: 20px;
  height: 17.89px;
  margin-top: 3px;
}

.logo-block {
  height: 28px;
  width: 25px;
  margin-left: 13px;
  margin-top: 9px;
}

.text-block {
  height: 95%;
  width: 90%;
  font-size: 18px;
  color: var(--primary-color);
  text-align: left;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 8px;
}

.under-image-gaming-systems {
  width: 78%;
  display: flex;
}

.big-card {
  display: block;
}

.big-cards-grid {
  display: inline-flex;
  gap: 32px;
  margin-left: 12.5%;
  margin-right: 12.5%;
  padding-left: 0px;
  padding-right: 0px;
}

.small-cards-grid {
  display: inline-flex;
  gap: 32px;
  margin-left: 12.5%;
  margin-right: 12.5%;
  padding-right: 0px;
}

.small-card-image {
  border-radius: 5px;
  width: 100%;
}

.big-card-image {
  width: 100%;
  border-radius: 5px;
  height: 350px;
}

.justify {
  text-align: justify;
  font-weight: lighter;
  color: var(--font-color);
  font-size: 16px;
  height: 50px;
}

.bolder {
  text-align: justify;
  color: var(--font-color);
  height: 70px;
  font-size: 18px;
}

.adjust-read-more {
  text-decoration: underline;
  color: var(--secondary-color);
  text-align: left;
  font-size: larger;
  margin-bottom: 8%;
  margin-top: 2%;
  font-size: 16px;
}

.adjust-date {
  font-weight: 400;
  color: var(--font-color);
  text-align: left;
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 16px;
}

.adjust-small-date {
  font-weight: 400;
  color: var(--font-color);
  text-align: left;
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 2%;
  margin-bottom: 2%;
}

.adjust-small-read-more {
  text-decoration: underline;
  color: var(--secondary-color);
  text-align: left;
  font-size: larger;
  margin-bottom: 6%;
  margin-top: 2%;
  font-size: 16px;
}

.see-all-news-button {
  margin-left: 12.4%;
  height: 300px;
  width: 1250px;
  margin-top: 2%;
}

.small-bolder {
  text-align: justify;
  color: var(--font-color);
  height: 55px;
  font-size: 16px;
}

.media-query-grid1{
  display: flex;
  gap: 32px;
}

.media-query-grid2{
  display: flex;
  gap: 32px;
}

.format-button:hover > .text-block {
  font-size: 15px;
}

.all-button:hover {
  background-color: var(--buttonhover-color);
  transition: all 0.2s ease-in-out;
  transform: scale(1.1, 1.1);
  font-size: 12px;
}

.format-last-button:hover {
  background-color: var(--buttonhover-color);
  font-size: 12px;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1, 1.1);
}

.big-card:hover > .big-card-image {
  filter: brightness(0.5);
  transition: all 0.2s ease-in-out;
}

.big-card:hover > .bolder {
  color: var(--secondary-color);
  transition: all 0.2s ease-in-out;
}

.big-card:hover > .adjust-read-more {
  color: var(--buttonhover-color);
  transition: all 0.2s ease-in-out;
}

.small-card:hover > .small-card-image {
  filter: brightness(0.5);
  transition: all 0.2s ease-in-out;
}

.small-card:hover > .small-bolder {
  color: var(--secondary-color);
  transition: all 0.2s ease-in-out;
}

.small-card:hover > .adjust-small-read-more {
  color: var(--buttonhover-color);
  transition: all 0.2s ease-in-out;
}

@media (max-width: 375px){

.media-query-small-read-more{
  margin-top: -30px;
}

.even-media-query-small-read-more{
  margin-top: -20px;
}

.media-query-grid1{
  display: block;
  margin-left: 28px;
  width: 145px;
}

.media-query-grid2{
  display: block;
  margin-right: 28px;
  width: 145px;
}

.feature-body1 .titles{
  font-size: 21px;
  width: 345px;
  margin-left: 15px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.online-store-image{
  width: 343.2px;
  height: 160.01px;
}

.gaming-systems-image{
  width: 342.4px;
  height: 114.35px;
}

.under-image-online-store{
  display: block;
}

.under-image-gaming-systems{
  display: block;
}

.descriptions-online-store{
  font-size: 18px;
  width: 345px;
  margin-left: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.descriptions-gaming-system{
  font-size: 18px;
  width: 345px;
  margin-left: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.format-button-start-shopping{
  width: 345px;
  margin-left: 15px;

}

.format-button-explore-now{
  width: 345px;
  margin-left: 15px;
}

.big-cards-grid{
  display: block;
  margin-left: 15px;
}

.big-card-image{
  width: 342.4px;
  height: 192.6px;
  
}

.adjust-date{
  font-size: 14px;
  margin-bottom: 10px;
}

.bolder{
  width: 342px;
  font-size: 16px;
  margin-bottom: 12px;
}

.justify{
  height: 60px;
  width: 342.4px;
  font-size: 14px;
}

.adjust-read-more{
  font-size: 14px;
}

.small-cards-grid{
  display: block;
  height: 490px;
}

.small-bolder{
  height: 105px;
  font-size: 14px;
  
}

.adjust-small-date{
  font-size: 14px;
}

.adjust-small-read-more{
  margin-bottom: 30px;
  font-size: 14px;
}

.see-all-news-button{
  width: 1715px;
  margin-left: 15px;
}

.logo-block{
  margin-left: 70px;
}

.text-block{
  font-size: 16px;
}

}

@media (max-width: 768px){

  .media-query-grid1{
    display: block;
    margin-left: -80px;
  }

  .media-query-grid2{
    display: block;
    margin-bottom: 40px;
  }

  .small-card-image{
    width: 355.6px;
    height: 200.3px;
  }

  .feature-body1 .titles{
  font-size: 28px;
  width: 320px;
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 20px;

}

.online-store-image{
  margin-left: 15px;
  width: 735.2px;
  height: 342.6px;
}

.gaming-systems-image{
  margin-left: 15px;
  width: 735.2px;
  height: 244.81px;
}

.under-image-online-store{
  display: block;
  margin-left: 15px;
  width: 320px;
}

.under-image-gaming-systems{
  display: block;
  margin-left: 15px;
  width: 320px;
}

.descriptions-online-store{
  font-size: 18px;
  margin:0;
  width: 735px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.descriptions-gaming-system{
  font-size: 18px;
  margin:0;
  width: 735px;
  height: 50px;
  margin-top: 30px;
}

.format-button-start-shopping{
  height: 47.6px;
  width: 734.8px;
  margin-left: 0;
  border-radius: 2px;
  font-size: 18px;
}

.format-button-explore-now{
  height: 47.6px;
  width: 734.8px;
  margin-left: 0;
  border-radius: 2px;
  font-size: 18px;
}

.big-cards-grid{
  display: block;
  margin-left: 15px;
}

.big-card-image{
  width: 735.2px;
  height: 413.55px;
  border-radius: 2px;
}

.adjust-date{
  font-size: 16px;
}

.bolder{
  font-size: 18px;
  height: 45px;
  width: 736px;
  margin-bottom: 25px;
}

.justify{
  height: 45px;
  width: 736px;
  font-size: 16px;
}

.adjust-read-more{
  font-size: 16px;
  margin-bottom: 17px;
}

.see-all-news-button{
  margin-left: 15px;
  margin-top: -15px;
  height: 60px;
}

.format-last-button{
  border-radius: 2px;
  width: 734.8px;
  height: 47.6px;
}

.text-block{
  font-size: 18px;
  margin-bottom: -2px;
  margin-left: 0;
}

.logo-block{
  margin-left: 270px;
  margin-right: 15px;
}

.logo-button{
  width: 20px;
  height: 17.89px;
  margin-bottom: 0px;
}
}