@import url("./root.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
}

.image-header {
  width: 100%;
  height: 520px;
}

.image-header .image-behind {
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url(https://assets.nintendo.com/image/upload/q_auto/f_auto/dpr_2.0/ncom/en_US/merchandising/center-stage-banner/bayonetta-origins/3600x800_BayoOrigins_LandingHeaderBG_03);
}

.image-behind {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96%;
}

.image-behind img {
  margin-top: 190px;
  width: 96%;
}

.immagine-principale{
 height: 85%;
  
}

.spazio-vuoto {
  height: 106px;
}

.container-gioco {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titolo-gioco {
  display: flex;
  color: var(--font-color);
  text-align: start;
  margin-left: 30px;
}

.bottone{
  width: 130px;
  height: 40px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-weight: 700;
  border-radius: 5px;
  border-color: var(--secondary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  margin-top: 0px;
  font-size: 15px;
}

.esrb a{
  text-decoration: none;
  color: var(--font-color);
}



a:hover .bottone{
  background-color:  var(--buttonhover-color);
}

.footer .h3{
  text-decoration: underline solid transparent;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: "museo sans rounded", sans-serif;
  transition: text-decoration 0.2s ease;
}

.footer .h3 a{
  text-decoration: underline solid transparent;
  color: rgb(2, 2, 2);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: "museo sans rounded", sans-serif;
  transition: text-decoration 0.2s ease;
}

.footer .h3 a:hover {
  text-decoration: underline rgb(0, 0, 0) 3px;
}

.footer-nintendo-red {
  height: 120px;
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

.footer-nintendo-red img {
  margin-left: 100px;
  width: auto;
  height: 80px;
}

.footer-nintendo-red .social-links {
  display: flex;
  justify-content: space-around;
  height: 30px;
  width: 300px;
  margin-right: 50px;
}

.social-links svg {
  color: var(--primary-color);
}

.footer-under {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.footer-under .footer-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-left: 1px solid var(--font-color);
  padding: 50px;
}

.footer-under .footer-box a {
  text-decoration: underline solid transparent;
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: "museo sans rounded", sans-serif;
  transition: text-decoration 0.2s ease;
}

.footer-under .footer-box a:hover {
  text-decoration: underline var(--secondary-color) 3px;
}

.footer-under .footer-box .h3 {
  font-size: 18px;
  font-family: "museo sans rounded", sans-serif;
}

.footer-under .footer-double-box {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.footer-under .footer-double-box .double-box-doubled {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 1px solid var(--secondary-color);
  padding: 50px;
}

.footer-under .footer-double-box .double-box-doubled a {
  text-decoration: underline solid transparent;
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: "museo sans rounded", sans-serif;
  transition: text-decoration 0.2s ease;
}

.footer-under .footer-double-box .double-box-doubled a:hover {
  text-decoration: underline var(--secondary-color) 3px;
}

.footer-under .footer-double-box .double-box-doubled h3 {
  font-size: 18px;
  font-family: "museo sans rounded", sans-serif;
}

.safet-svg {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 50px;
}

.safet-svg svg {
  height: 86px;
  width: 64px;
}

.black-bar {
  height: 150px;
  width: 100%;
  background-color: rgb(12, 10, 10);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.copyright p {
  color: var(--font-color);
  font-family: "museo sans rounded", sans-serif;
}

.black-bar-links {
  display: flex;
  gap: 40px;
}

.black-bar-links a {
  text-decoration: underline solid transparent;
  color: var(--primary-color);
  font-family: "museo sans rounded", sans-serif;
  transition: text-decoration 0.2s ease;
}

.black-bar-links a:hover {
  text-decoration: underline var(--primary-color) 2px;
}

.bottone:hover{
  background-color: var(--buttonhover-color);
  transition: all 0.2s ease-in-out;
  transform: scale(1.1,1.1);
  font-size: 12px;
}

