@import url('./root.css');

nav {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

/*top side*/

nav .top-side {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid grey;
}

nav .top-side .box-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .top-side .box-logo .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-color);
  width: 70px;
  height: 15px;
  border-radius: 70px;
}

nav .top-side .box-logo .logo .nintendo {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 13px;
}

nav .top-side .search-bar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid black;
  width: 420px;
}

nav .top-side .search-bar .search {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

nav .top-side .search-bar .search .lens {
  color: var(--font-color);
}

nav .top-side .search-bar .search input {
  border: none;
  width: 300px;
  padding: 10px 5px 10px 5px; 
}

nav .top-side .select .all-categories {
  border: none;
  margin-left: 30px;
  font-weight: bold;
  font-size: 13px;
  position: relative;
  bottom: 2px;
  right: 165px;
}

nav .top-side .box-logo {
  background-color: var(--secondary-color);
  width: 105px;
  height: 55px;
}

nav .top-side .buttons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-left: auto;
}

button {
  border: none;
  background-color: var(--primary-color);
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}

nav .top-side .buttons {
  align-items: center;
}

nav .top-side .buttons .top-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
}

nav .top-side .buttons .top-box-p {
  font-weight: bold;
  font-size: 13px;
}

nav .top-side .box-logo:hover {
  cursor: pointer;
}

nav .top-side .buttons .top-box:hover .top-box-logo, .top-box:hover .top-box-p {
  transition: ease 300ms;
  color: var(--secondary-color);
  cursor: pointer;
}

nav .top-side .search-bar:hover, .search-bar:hover{
  transition: ease 300ms;
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
  cursor: pointer;
}

nav .top-side .search-bar:hover, .search-bar:hover input::placeholder, .search-bar:hover .lens svg{
  transition: ease 300ms;
  color: var(--secondary-color);
  cursor: pointer;
}


nav .top-side .search-bar:hover, .select .all-categories:hover{
  transition: ease 300ms;
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
  cursor: pointer;
}

/*Bottom side*/

.bottom-side {
  display: flex;
  padding: 15px;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.bottom-side .all-boxes {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
}
.bottom-side .all-boxes .box-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.bottom-side .all-boxes .box-bottom .box-logo, .arrow-logo {
  margin-right: 5px;
  margin-left: 5px;
}

.bottom-side .all-boxes .box-bottom .p-bottom {
  font-weight: bold;
  font-size: 13px;
}

.bottom-side .all-boxes .box-bottom .box-logo{
  color:rgb(72,72,72);
}


.bottom-side .all-boxes .box-bottom:hover .box-logo,.box-bottom:hover .p-bottom,.box-bottom:hover .arrow-logo  {
  transition: ease 300ms;
  color: var(--secondary-color);
  cursor: pointer;
}

.bottom-side .all-boxes .box-bottom:active .arrow-logo {
  transform: rotate(0.5turn);
}



/*bg menu1*/

.bg-hidden1 {
  display: none;
  z-index: -100;
  width: 100%;
  position: absolute;
  top:  107px;
  right: 0px;
}

.bg-hidden1 .my-nintendo-title-bg {
  display: flex;
  flex-direction: column;
  width: 100%;
  height:19rem;
  background-color: white;
}

.bg-hidden1 .my-nintendo-title-bg .background {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3rem;
  background-color: #E60012;
  align-items: center;
  justify-content: center;
}

.bg-hidden1 .my-nintendo-title-bg .background .svg-name{
  margin-left: auto;
  color: white;
}

.bg-hidden1 .my-nintendo-title-bg .background .x-button{
  margin-left: auto;
  margin-right: 10px;
  color: white;
}

.bg-hidden1 .my-nintendo-title-bg .background .x-button svg:hover {
  transition: ease 500ms;
  color: rgb(200, 200, 200);
}

.bg-hidden1 .my-nintendo-title-bg .corner {
  position: absolute;
  width: 100%;
  height: 14px;
  background-size: auto 14px;
  background-repeat: repeat-x;
  z-index: 1;
  top: 48px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNDVweCIgaGVpZ2h0PSIxNHB4IiB2aWV3Qm94PSIwIDAgNDUgMTQiIHZlcnNpb249IjEuMSIKICAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDx0aXRsZT5TdG9yZWZyb250LWF3bmluZy1wYXR0ZXJuPC90aXRsZT4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJTdG9yZWZyb250LWF3bmluZy1wYXR0ZXJuIiBmaWxsPSIjRTYwMDEyIiBmaWxsLXJ1bGU9Im5vbnplcm8iPgogICAgICAgICAgICA8cGF0aCBkPSJNNDUsMCBMMCwwIEwwLDEzLjc3MzY4IEMxLjMzMzAyMDAxLDEzLjgzNzcxOTMgMi42NDkxNDAxMywxMy40NTM5MDE4IDMuNzM4NzcsMTIuNjgzMzUgTDE5LjI4NDQ4LDEuNjI4NjYgQzIxLjM2NjIzOTQsMC4xNDgzMTg1OTggMjQuMTU3MDEwNiwwLjE0ODMxODU5OCAyNi4yMzg3NywxLjYyODY2IEw0MS43ODQ0OCwxMi42ODMzNSBDNDIuNzI4MzU2MywxMy4zNTAwNDM4IDQzLjg0NTI4NSwxMy43Mjg3NzYgNDUsMTMuNzczNjggTDQ1LDAgWiIgaWQ9IlBhdGgiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==);
}

.all-boxes-hidden {
  display: flex;
  flex-direction: row;
  width: 75rem;
  position: relative;
  margin: 0 auto 0 auto;
  top: 25px;
  align-items: top;

}

.all-boxes-hidden .menu-box, .links {
  display: flex;
  flex-direction: column;

}

.all-boxes-hidden .menu-box {
  display: flex;
  gap: 10px;
  margin-left: 3rem;

}

.all-boxes-hidden .menu-box .title-box {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-weight: bold;
}

.all-boxes-hidden .menu-box .title-box .svg svg {
  color: red;
}
.all-boxes-hidden .menu-box .links {
  gap: 10px;
}

.all-boxes-hidden .menu-box .links a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.all-boxes-hidden .menu-box .title-box:hover .title {
  color: red;
  transition: 500ms ease;
}

.all-boxes-hidden .menu-box .links a:hover {
  color: red;
  transition: 500ms ease;
}

.shop-all-button {
  display: flex;
  position: relative;
  top: 55px;
  justify-content: center;
}

.shop-all-button button {
  width: 100px;
  height: 45px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: white;
  color: red;
  font-size: 15px;
  font-weight: bold ;
}

.shop-all-button button:hover {
  transition: ease 500ms;
  
  background-color: rgb(253,230,231)
}

.bottom-side .all-boxes #first-menu:active .bg-hidden1 {
  display: block;
}
/*bg menu 2*/
.bg-hidden2 {
  display: none;
  z-index: -100;
  width: 100%;
  position: absolute;
  top:  107px;
  right: 0px;
}

.bg-hidden2 .background {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.bg-hidden2 .background .x-button2 {
  display: flex;
  justify-content: end;
  margin: 5px 10px 5px 10px;
  color: rgb(170, 170, 170)
}

.bg-hidden2 .background .x-button2:hover {
  transition: ease 500ms;
  color: black;
}

.bg-hidden2 .background .all-games-boxes {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 20px;
}

.bg-hidden2 .background .all-games-boxes .content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 5px;
}

.bg-hidden2 .background .all-games-boxes .content-box .box-content-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(170, 170, 170);
  width: 130px;
  height: 70px;
  border-radius: 5px;
}

.bottom-side .all-boxes #second-menu:active .bg-hidden2 {
  display: block;
}

/*bg menu3*/
 
.bg-hidden3 {
  display: none;
  z-index: -100;
  width: 100%;
  position: absolute;
  top:  107px;
  right: 0px;
}

.bg-hidden3 .background {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.bg-hidden3 .background .x-button2 {
  display: flex;
  justify-content: end;
  margin: 5px 10px 5px 10px;
  color: rgb(170, 170, 170)
}

.bg-hidden3 .background .x-button2:hover {
  transition: ease 500ms;
  color: black;
}

.bg-hidden3 .background .all-NS-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.bg-hidden3 .background .all-NS-boxes .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.bg-hidden3 .background .all-NS-boxes .content .box-lineup{
  display: flex;
  border: solid rgb(170, 170, 170) 1px;
  height: 70px;
  width: 210px;
  border-radius: 5px;
}

.bg-hidden3 .background .all-NS-boxes .content .box-lineup .image-lineup {
  background-image: url(https://assets.nintendo.com/image/upload/f_auto/q_auto/dpr_1.0/c_scale,w_300/Dev/Global%20Navigation/lineup.png);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.bg-hidden3 .background .all-NS-boxes .content .box-service{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid rgb(170, 170, 170) 1px;
  width: 120px;
  height: 70px;
  border-radius: 5px;
}

.bg-hidden3 .background .all-NS-boxes .content .box-service .image-accessories {
  background-image: url(https://assets.nintendo.com/image/upload/f_auto/q_auto/dpr_1.0/c_scale,w_200/Dev/Global%20Navigation/procon.png);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.bg-hidden3 .background .all-NS-boxes .content .box-service .image-SS {
  background-image: url(https://assets.nintendo.com/image/upload/f_auto/q_auto/dpr_1.0/c_scale,w_200/Dev/Global%20Navigation/oled.png);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.bottom-side .all-boxes #third-menu:active .bg-hidden3 {
  display: block;
}

/*bg menu4*/
.bg-hidden4 {
  display: none;
  z-index: -100;
  width: 100%;
  position: absolute;
  top:  107px;
  right: 0px;
}

.bg-hidden4 .background {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.bg-hidden4 .background .x-button2 {
  display: flex;
  justify-content: end;
  margin: 5px 10px 5px 10px;
  color: rgb(170, 170, 170)
}

.bg-hidden4 .background .x-button2:hover {
  transition: ease 500ms;
  color: black;
}


.bg-hidden4 .background .all-PN-boxes{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.bg-hidden4 .background .all-PN-boxes .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.bg-hidden4 .background .all-PN-boxes .content .logo-PN-box {
  display: flex;
  border: solid rgb(170, 170, 170) 1px;
  border-radius: 5px;
  height: 70px;
  align-items: center;
  justify-content: center;
}

.bottom-side .all-boxes #fourth-menu:active .bg-hidden4 {
  display: block;
}
/*2nd nav-phone*/

nav .second-nav{
  display: none;
  align-self: center;
  position: fixed;
  bottom: 20px;
}

nav .second-nav .box-2nav {
  display: flex;
  background-color: var(--primary-color);
  border-radius: 50px;
  box-shadow: 5px 5px 10px 1px black;
  height: 58px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 35px 0px 35px;
  gap: 50px;
}

nav .second-nav .box-2nav .obj-button .search-circle {
  display: flex;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background-color: var(--secondary-color);
  color:var(--primary-color);
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 10px;
}

/* media query */

@media (max-width: 1024px) {
  nav .bottom-side {
    display: none;
  }
  nav .top-side {
    border: none;
    background-color: var(--secondary-color);
    height: 65px;
  }
  nav .top-side .buttons {
    display: none;
  }
  nav .top-side .search-bar {
    display: none;
  }
  nav .top-side .box-logo{
    height: fit-content;
    width: fit-content;
    margin: 20px;
  }

  nav .top-side .box-logo .logo {
    border: 3px solid var(--primary-color);
    width: 98px;
    height: fit-content;
  }
  nav .top-side .box-logo .logo .nintendo {
    font-size: 20px;
  }
 nav .second-nav {
  display: block;
 }
}