@import url(root.css);

.characters-section {
  font-family: sans-serif;
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
}

.characters-section h2 {
  font-size: 30px;
  color: var(--font-color);
  font-weight: 550;
}
.character h3 {
  font-size: 20px;
  color: var(--font-color);
  font-weight: 650;
}

.characters-grid {
  display: flex;
  justify-content: center;
}

.character {
  text-align: left;
  padding: 0.5rem;
}

.character-image { /* grandezza dei blocchi */
  position: relative;
  width: 280px;
  height: 280px;
  overflow: hidden;
  border-radius: 5px;
}

.character-image img {
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.character-image:hover img {
  transform: scale(1.15);
}

.mario-char::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/Assets/mario-bg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
}
.zelda-char::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/Assets/Zelda-bg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
}
.splatoon-char::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/Assets/Splatoon-bg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
}
.kirby-char::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/Assets/Kirby-bg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
}

.zelda-char:hover::before,
.mario-char:hover::before,
.kirby-char:hover::before,
.splatoon-char:hover::before {
  transform: scale(1);
}
