@import url('./root.css');

nav {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

/*top side*/

nav .top-side {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid grey;
}

nav .top-side .box-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .top-side .box-logo .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-color);
  width: 70px;
  height: 15px;
  border-radius: 70px;
}

nav .top-side .box-logo .logo .nintendo {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 13px;
}

nav .top-side .search-bar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid black;
}

nav .top-side .search-bar .search {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

nav .top-side .search-bar .search .lens-box {
  border: 1px black solid;
  width: 25px;
  height: 25px;
}

nav .top-side .search-bar .search input {
  border: none;
  width: 300px;
}

nav .top-side .search-bar .select .all-categories {
  border: none;
  margin-left: 30px;
  font-weight: bold;
  font-size: 13px;
  position: relative;
  bottom: 4px;
  right: 17px;
}

nav .top-side .box-logo {
  background-color: var(--secondary-color);
  width: 105px;
  height: 55px;
}

nav .top-side .buttons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-left: auto;
}

button {
  border: none;
  background-color: var(--primary-color);
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}

nav .top-side .buttons {
  align-items: center;
}

nav .top-side .buttons .top-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
}

nav .top-side .buttons .top-box-p {
  font-weight: bold;
  font-size: 13px;
}

nav .top-side .box-logo:hover {
  cursor: pointer;
}

nav .top-side .buttons .top-box:hover .top-box-logo, .top-box:hover .top-box-p {
  transition: ease 300ms;
  color: var(--secondary-color);
  cursor: pointer;
}

nav .top-side .search-bar:hover .search::placeholder {
  transition: ease 300ms;
  color: var(--secondary-color);
  cursor: pointer;
}

/*Bottom side*/

.bottom-side {
  display: flex;
  padding: 15px;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.bottom-side .all-boxes {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
}
.bottom-side .all-boxes .box-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.bottom-side .all-boxes .box-bottom .box-logo, .arrow-logo {
  margin-right: 5px;
  margin-left: 5px;
}

.bottom-side .all-boxes .box-bottom .p-bottom {
  font-weight: bold;
  font-size: 13px;
}

.bottom-side .all-boxes .box-bottom .box-logo{
  color:rgb(72,72,72);
}


.bottom-side .all-boxes .box-bottom:hover .box-logo,.box-bottom:hover .p-bottom,.box-bottom:hover .arrow-logo  {
  transition: ease 300ms;
  color: var(--secondary-color);
  cursor: pointer;
}

.bottom-side .all-boxes .box-bottom:active .arrow-logo {
  transform: rotate(0.5turn);
}



/*bg menu1*/

.bg-hidden1 {
  display: none;
  z-index: -100;
  width: 100%;
  position: absolute;
  top:  107px;
  right: 0px;
}

.bg-hidden1 .my-nintendo-title-bg {
  display: flex;
  flex-direction: column;
  width: 100%;
  height:19rem;
  background-color: white;
}

.bg-hidden1 .my-nintendo-title-bg .background {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3rem;
  background-color: #E60012;
  align-items: center;
  justify-content: center;
}

.bg-hidden1 .my-nintendo-title-bg .background .svg-name{
  margin-left: auto;
  color: white;
}

.bg-hidden1 .my-nintendo-title-bg .background .x-button{
  margin-left: auto;
  margin-right: 10px;
  color: white;
}

.bg-hidden1 .my-nintendo-title-bg .background .x-button svg:hover {
  transition: ease 500ms;
  color: rgb(200, 200, 200);
}

.bg-hidden1 .my-nintendo-title-bg .corner {
  position: absolute;
  width: 100%;
  height: 14px;
  background-size: auto 14px;
  background-repeat: repeat-x;
  z-index: 1;
  top: 48px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNDVweCIgaGVpZ2h0PSIxNHB4IiB2aWV3Qm94PSIwIDAgNDUgMTQiIHZlcnNpb249IjEuMSIKICAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDx0aXRsZT5TdG9yZWZyb250LWF3bmluZy1wYXR0ZXJuPC90aXRsZT4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJTdG9yZWZyb250LWF3bmluZy1wYXR0ZXJuIiBmaWxsPSIjRTYwMDEyIiBmaWxsLXJ1bGU9Im5vbnplcm8iPgogICAgICAgICAgICA8cGF0aCBkPSJNNDUsMCBMMCwwIEwwLDEzLjc3MzY4IEMxLjMzMzAyMDAxLDEzLjgzNzcxOTMgMi42NDkxNDAxMywxMy40NTM5MDE4IDMuNzM4NzcsMTIuNjgzMzUgTDE5LjI4NDQ4LDEuNjI4NjYgQzIxLjM2NjIzOTQsMC4xNDgzMTg1OTggMjQuMTU3MDEwNiwwLjE0ODMxODU5OCAyNi4yMzg3NywxLjYyODY2IEw0MS43ODQ0OCwxMi42ODMzNSBDNDIuNzI4MzU2MywxMy4zNTAwNDM4IDQzLjg0NTI4NSwxMy43Mjg3NzYgNDUsMTMuNzczNjggTDQ1LDAgWiIgaWQ9IlBhdGgiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==);
}

.all-boxes-hidden {
  display: flex;
  flex-direction: row;
  width: 75rem;
  position: relative;
  margin: 0 auto 0 auto;
  top: 25px;
  align-items: top;

}

.all-boxes-hidden .menu-box, .links {
  display: flex;
  flex-direction: column;

}

.all-boxes-hidden .menu-box {
  display: flex;
  gap: 10px;
  margin-left: 3rem;

}

.all-boxes-hidden .menu-box .title-box {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-weight: bold;
}

.all-boxes-hidden .menu-box .title-box .svg svg {
  color: red;
}
.all-boxes-hidden .menu-box .links {
  gap: 10px;
}

.all-boxes-hidden .menu-box .links a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.all-boxes-hidden .menu-box .title-box:hover .title {
  color: red;
  transition: 500ms ease;
}

.all-boxes-hidden .menu-box .links a:hover {
  color: red;
  transition: 500ms ease;
}

.shop-all-button {
  display: flex;
  position: relative;
  top: 55px;
  justify-content: center;
}

.shop-all-button button {
  width: 100px;
  height: 45px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: white;
  color: red;
  font-size: 15px;
  font-weight: bold ;
}

.shop-all-button button:hover {
  transition: ease 500ms;
  
  background-color: rgb(253,230,231)
}

.bottom-side .all-boxes #first-menu:active .bg-hidden1 {
  display: block;
}

/* media query */

@media (max-width: 1024px) {
  nav .bottom-side {
    display: none;
  }
  nav .top-side {
    border: none;
    background-color: var(--secondary-color);
    height: 65px;
  }
  nav .top-side .buttons {
    display: none;
  }
  nav .top-side .search-bar {
    display: none;
  }
  nav .top-side .box-logo{
    height: fit-content;
    width: fit-content;
    margin: 20px;
  }

  nav .top-side .box-logo .logo {
    border: 3px solid var(--primary-color);
    width: 98px;
    height: fit-content;
  }
  nav .top-side .box-logo .logo .nintendo {
    font-size: 20px;
  }
}